.services {
  padding-bottom: 98px;
}
.service-heading {
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-weight: 700;
  color: var(--service-heading);
  text-align: center;
  margin: 100px 0 52px 0;
}
.service-list {
  display: flex;
  flex-direction: column;
}
