.reason {
  background-color: var(--background-reason);
  padding: 100px 0;
}

.reason-wrapper {
  display: flex;
  align-items: stretch;
}
.reason-video {
  border-radius: 36px;
  overflow: hidden;
  margin-right: 68px;
}
.reason-heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 700;
  color: var(--reason-heading);
  margin-bottom: 24px;
}
.reason-detail p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  color: var(--reason-detail);
  margin-bottom: 15px;
  max-width: 780px;
}
.reason-detail p:last-child {
  margin-bottom: 40px;
}

.reason-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
