.project {
  padding: 89px 0 129px 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}
.project-heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 700;
  color: var(--black);
}
.project-list {
  display: grid;
  gap: 30px;
  grid-template-columns:
    calc(100% / 3 - 20px) calc(100% / 3 - 20px)
    calc(100% / 3 - 20px);
  grid-template-rows: calc(100% / 2 - 15px) calc(100% / 2 - 15px);
}

.project-dots {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
}
.project-dots .project-dot:not(:last-child) {
  margin-right: 10px;
}
.project-dot {
  background: rgba(17, 16, 16, 0.23);
  border-radius: 10px;
  width: 40px;
  height: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.project-dot.active {
  width: 70px;
  background: var(--black);
  border-radius: 10px;
}
