:root {
  --white: #ffffff;
  --grey: #978d8d;
  --grey-a4: #a4a4a4;
  --black: #111010;
  --grey-3c: #3c3c3c;
  --grey-e3: #e3e3e3;
  --grey-3b: #3b3b3b;
  --grey-a4: #a4a4a4;
  --grey-31: #313131;
  -grey-61: #616161;
  --grey-ae: #aeaeae;
  --background-wrapper: #ffffff;
  --background-product: #111010;
  --color-product: #ffffff;
  --service-heading: #111010;
  --service-item: #e3e3e3;
  --service-info: #111010;
  --project-heading: #111010;
  --media-heading: #111010;
  --media-item: #e3e3e3;
  --media-title: #111010;
  --media-desc: #000000;
  --background-footer: #111010;
  --header-color: #ffffff;
  --banner-title: #ffffff;
  --banner-desc: #a4a4a4;
  --banner-dot: rgba(255, 255, 255, 0.23);
  --banner-dot-active: #ffffff;
  --feature-heading: #111010;
  --btn-primary: #ffffff;
  --btn-view-black: #111010;
  --background-reason: #ffffff;
  --reason-heading: #111010;
  --reason-detail: #3b3b3b;
  --btn-view-black-full: #111010;
  --background-list-service: #111010;
  --list-service-heading: #ffffff;
  --fea-btn: #3b3b3b;
  --background-fea-btn: #ffffff;
  --feature-item: #e3e3e3;
  --fea-title: #111010;
  --fea-desc: #3c3c3c;
  --btn-view: #111010;
  --fea-btn: #111010;
  --project-dot: rgba(255, 250, 250, 0.23);
  --project-dot-active: #111010;
  --footer-logo: #ffffff;
}

[data-theme="dark"] {
  --background-wrapper: #111010;
  --background-product: #ffffff;
  --color-product: #111010;
  --service-heading: #ffffff;
  --service-item: #313131;
  --service-info: #ffffff;
  --project-heading: #ffffff;
  --media-heading: #ffffff;
  --media-item: #313131;
  --media-title: #ffffff;
  --media-desc: #aeaeae;
  --background-footer: #313131;
  --header-color: #111010;
  --banner-title: #111010;
  --banner-desc: #616161;
  --banner-dot: rgba(17, 16, 16, 0.23);
  --banner-dot-active: #111010;
  --feature-heading: #ffffff;
  --btn-primary: #111010;
  --btn-view-black: #ffffff;
  --background-reason: #111010;
  --reason-heading: #ffffff;
  --reason-detail: #aeaeae;
  --btn-view-black-full: #ffffff;
  --background-list-service: #ffffff;
  --list-service-heading: #111010;
  --fea-btn: #ffffff;
  --feature-item: #313131;
  --fea-title: #ffffff;
  --fea-desc: #aeaeae;
  --btn-view: #ffffff;
  --fea-btn: #ffffff;
  --project-dot-active: #ffffff;
  --footer-logo: #ffffff;
}

* {
  box-sizing: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Proxima Nova;
  src: url("../../asssets/fonts/Proxima-Nova-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: Proxima Nova;
  src: url("../../asssets/fonts/Proxima-Nova-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Proxima Nova;
  src: url("../../asssets/fonts/ProximaNova-Semibold.woff2");
  font-weight: 600;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Proxima Nova", sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
  z-index: -10;
  transition: all 0.3s ease;
}
.wrapper.light {
  background-color: #f5f5f5;
}
.wrapper.dark {
  background-color: var(--black);
}
.container {
  max-width: 1422px;
  margin: 0 auto;
  padding: 0 1.1rem;
}

.container-fluid {
  max-width: 100%;
}
.background-bottom {
  background: linear-gradient(
    180deg,
    rgba(17, 16, 16, 0) 0%,
    rgba(17, 16, 16, 0.74) 72.92%
  );
  backdrop-filter: blur(1.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 0px 0px 20px 20px;
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
