.menu-item a {
  color: var(--grey);
  font-size: 1.6rem;
  font-weight: 700;
}
.menu-item a:hover {
  color: var(--header-color);
}
.menu-item:not(:last-child) a {
  margin-right: 50px;
}

.menu-item.active a {
  color: var(--header-color);
}
