.service-item {
  background-color: var(--service-item);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 36px;
  height: 400px;
  padding: 20px;
}
.service-item:not(:last-child) {
  margin-bottom: 30px;
}
.service-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 160%;
  color: var(--service-info);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.service-desc {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--service-info);
  line-height: 160%;
  margin-bottom: 40px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
}
.service-img {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.service-img,
.service-info {
  flex: 0 0 50%;
  max-width: 50%;
}
.service-info {
  max-width: 525px;
}
