#product {
  background-color: var(--black);
  color: var(--white);
  padding: 70px 0 80px 0;
  margin-top: 100px;
}
.product-heading {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 56px;
  line-height: 5.8rem;
}
.product-list {
  display: grid;
  gap: 30px;
  height: 700px;
}
