.feature {
  padding: 100px 0 0 0;
}
.fea-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-btn,
.prev-btn {
  cursor: pointer;
}
.prev-btn svg {
  transform: translateX(7px);
}

.fea-btn svg {
  fill: var(--fea-btn);
}
.fea-heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  text-align: center;
  margin-bottom: 54px;
  color: var(--feature-heading);
}

.fea-list {
  display: inline-flex;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
}

.fea-wrapper {
  width: 100%;
  overflow: hidden;
}
.prev-btn {
  margin-right: 30px;
}
.next-btn {
  margin-left: 30px;
}
@media screen and (min-width: 1920px) {
  .feature {
    padding: 200px 0 0 0;
  }
}
