.feature {
  padding: 100px 0 0 0;
}
.fea-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-btn,
.prev-btn {
  cursor: pointer;
}
.fea-heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  text-align: center;
  margin-bottom: 54px;
  color: var(--black);
}
.fea-list {
  display: inline-flex;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
}

.fea-wrapper {
  width: 100%;
  overflow: hidden;
}

.dark .fea-heading {
  color: var(--white);
}
.dark .fea-item {
  background-color: var(--grey-31);
}
.dark .fea-title {
  color: var(--white);
}
.dark .fea-desc {
  color: var(--grey-ae);
}

.dark .btn-view {
  border: 2px solid var(--white);
  color: var(--white);
}

@media screen and (min-width: 1920px) {
  .feature {
    padding: 200px 0 0 0;
  }
}
