#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
}
.background {
  position: absolute;
  width: 100%;
  z-index: -10;
}
#logo {
  color: var(--white);
}
#logo img {
  display: block;
  width: 150px;
}
