#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.background {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
}

#logo {
  color: var(--white);
}
#logo h1 {
  font-size: 5.1rem;
  line-height: 5.1rem;
}

// DARK / LIGHT
.mode {
  position: fixed;
  // background-color: var(--white);
  // border: 2px solid var(--black);
  // border-radius: 50%;
  // z-index: 100;
  // width: 60px;
  // height: 60px;
  cursor: pointer;
}
.dark .background {
  background-color: var(--black);
}
.dark #logo {
  color: var(--black);
}
